aiohttp
beautifulsoup4
hachoir
numpy
ffmpeg-python
Pillow
pyrogram==1.4.16
requests
tgcrypto
git+https://github.com/yt-dlp/yt-dlp
olefile
filetype
tldextract
lk21
motor
https://github.com/Tinche/aiofiles/archive/master.zip
dnspython
